.menu{
    background: url('../../assets/bg.jpg') center / cover fixed;
    position: relative;
}
.menu::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--hsla);
}
.menu_grid{
    grid-template-columns: repeat(2, 1fr);
}
.menu .section_title,
.menu_grid{
    z-index: 1;
    position: relative;
}
.menu_item{
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 0.75rem;
    background: var(--container-color);
    padding: 1.25rem;
    border-radius: var(--radius);
    transition: 0.5s var(--transition);
}
.menu-img-wrapper{
    width: 80px;
    height: 80px;
    border: 2px dashed var(--first-color);
    padding: 3px;
}
.menu-img-wrapper,
.menu_img{
    border-radius: 50%;
}
.menu_data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.75rem;
}
.menu_price,
.menu_title{
    color: var(--first-color);
}
.menu_title{
    font-size: var(--large-font-size);
    margin-bottom: 0.25rem;
}
.menu_price{
    border-left: 2px dashed var(--first-color);
    padding-left: 1.5rem;
    font-size: var(--large-font-size);
    font-weight: var(--weight-600);
}
.menu_item:hover{
    transform: translateY(-0.5rem);
}