.gallery_grid {
    grid-template-columns: repeat(3,1fr);
}
.grid_item{
    position: relative;
}
.grid_item::before{
    content: '';
    position: absolute;
    inset: 0.5rem;
    border-radius: var(--radius);
    background-color: var(--first-color);
    transform: scaleY(0);
    opacity: 0;
    transition: 0.4s var(--transition);
}
.gallery_img,
.gallery_title{
    border-radius: var(--radius);
}
.gallery_icon,
.gallery_title{
    position: absolute;
    font-size: var(--largest-font-size);
    opacity: 0;
}
.gallery_icon{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--title-color);
    color: var(--first-color);
    width: 50px;
    height: 50px;
    display: grid;
    border-radius: 50%;
    place-items: center;
    margin-top: 3rem;
    transition: 0.3s var(--transition);
    transition-delay: .03s;
}
.gallery_title{
    bottom: 0;
    background-color: var(--container-color);
    inset-inline: 1.75rem;
    text-align: center;
    padding-block: 1.25rem;
    transition: 0.3s var(--transition);
}
.gallery_item:hover::before{
    transform: scaleY(1);
    opacity: 0.7;
}
.gallery_item:hover .gallery_icon,
.gallery_item:hover .gallery_title{
    opacity: 1;
}
.gallery_item:hover .gallery_icon{
    margin-top: 0;
}
.gallery_item:hover .gallery_title{
    bottom: 1.75rem;
}